
@media (min-width:750px) {
    .grid_1-1-1-1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    
    .grid_1-1{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .grid{
        display:grid;
        grid-template-columns: 1fr 10fr 1fr;
    }
    
    .grid_1-1-1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid_1-1_col{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_1-1_projekt{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}